<!doctype html>
<html>
    <head>    
        
        <title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ (resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "assets/css/main.css" . | resources.ToCSS (dict "indentWidth" 4 "outputStyle" "nested" "precision" 10)).Permalink }}" />
        <link rel="stylesheet" href="{{ "assets/css/markdown-images.css" | relURL }}" />
        <noscript><link rel="stylesheet" href="{{ "assets/css/noscript.css" | relURL }}" /></noscript>
        
    </head>
    <body>
        
        {{ if eq .Params.layout "home" }}
                {{ partial "sidebar.html" . }}
            {{ else }}
                {{ partial "header.html" . }}
            {{ end }}
        
            {{ block "content" . }}{{ end }}
        
            {{ partial "footer.html" . }}
        <!-- Scripts -->
        <script src="{{ "assets/js/jquery.min.js" | relURL }}"></script>
        <script src="{{ "assets/js/jquery.scrollex.min.js" | relURL }}"></script>
        <script src="{{ "assets/js/jquery.scrolly.min.js" | relURL }}"></script>
        <script src="{{ "assets/js/browser.min.js" | relURL }}"></script>
        <script src="{{ "assets/js/breakpoints.min.js" | relURL }}"></script>
        <script src="{{ "assets/js/util.js" | relURL }}"></script>
        <script src="{{ "assets/js/init.js" | relURL }}"></script>
        <script src="{{ "assets/js/page_load.js" | relURL }}"></script>
    </body> 
</html>
