<!-- Footer -->
<footer id="footer" class="wrapper {{ if eq .Params.layout "home" }}{{ .Site.Data.footer.landing_style }}{{ else }}{{ .Site.Data.footer.alt_style }}{{ end }}">
    <div class="inner">
        <ul class="menu">
            <li>
                {{ replace .Site.Data.footer.copyright "{year}" now.Year | safeHTML }}
                &nbsp;
                Built with
                {{$len := (len .Site.Data.footer.links)}}
                {{ range $index, $link := .Site.Data.footer.links }}
                    <a href="{{ $link.url }}" {{ if $link.new_window }}target="_blank"{{end}} rel="noopener">{{ $link.text }}</a>
                    {{ if eq (add $index 2) $len}}
                      &amp;
                    {{ else if lt (add $index 1) $len}}
                      ,
                    {{ end }}
                {{ end }}
            </li>
        </ul>
    </div>
</footer>
