<!-- Sidebar -->
<section id="sidebar">
    <div class="inner">
        {{ if .Site.Params.primary_logo }}
        <div class="primary-logo">
          <a href="{{ .Site.Params.logo_url}}" target="_blank">
            <img src="{{.Site.Params.primary_logo}}" alt="dsmHack"/>
          </a>
        </div>
        {{ end }}
        {{ if .Site.Params.mobile_logo }}
        <div class="mobile-logo">
          <a href="{{ .Site.Params.logo_url}}" target="_blank">
            <img src="{{.Site.Params.mobile_logo}}" alt="dsmHack"/>
          </a>
        </div>
        {{ end }}
        <nav>
            <ul>
                {{ range $item := .Params.sidebar.entries }}
                    <li><a {{ if $item.is_primary }}id="first_link" {{ end }}href="{{ if strings.HasPrefix $item.url "#" }}{{ $item.url }}{{ else }}{{ $item.url | relURL }}{{ end }}">{{ $item.title }}</a></li>
                {{ end }}
            </ul>
        </nav>
        {{ if .Params.sidebar.social }}
        <div class="social-icons">
          {{ range $social := .Site.Params.social }}
            <a href="{{$social.url}}"><i class="fa fa-{{$social.icon}}" aria-hidden="true"></i></a>
          {{ end }}
        </div>
        {{ end }}
    </div>
</section>
