
.github-corner {
  position: fixed;
  top: 0;
  border: 0;
  right: 0;
  z-index: 999;

  .octo-arm {
    transform-origin: 130px 106px;
  }

  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  & > svg {
    fill: _palette(bg-alt);
    color: _palette(fg-bold);
    width: 80px;
    height: 80px;
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@include breakpoint('<=large') {
  .github-corner {

    .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }

    &:hover .octo-arm {
      animation: none;
    }

    & > svg {
      fill: _palette(accent2-alt);
      height: 56px;
      width: 56px;
    }
  }
}
